.bg-dark {
    background-color: #141414 !important;
    color: #ffffff;
}

.bg-gradienttheme {
    background: #3b2601;
background: linear-gradient(328deg, rgba(59, 38, 1, 1) 0%, rgba(110, 68, 9, 1) 100%);
}